papers/
forms/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.synctex.gz
*.toc
*.out
*.log
*/obj/
code/main*
.vscode
code/dbus/bluefind*
code/old_code/obj/
code/old_code/main*
code/bluefind/__pycache__
code/tests/__pycache__
__pycache__
.pytest_cache
*.db
